<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Home page</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link th:href="@{/css/index.css}" rel="stylesheet" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap" rel="stylesheet">
    </head>
    <body>
		<div th:replace="fragments/header"></div>
		<main class="page-width">
			<h1>Home page</h1>
			<img th:src="@{/images/japan.jpg}" />
		</main>
    </body>
</html>
